<!DOCTYPE html>
<html lang="en" class="dark:[color-scheme:dark]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
    <meta name="robots" content="noindex" />
    <title>Delete Account | CremaBlog</title>
  </head>
  <body
    class="font-display bg-orange-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50"
  >
    <section class="flex flex-col items-center justify-center h-screen p-5">
      <h1 class="text-4xl font-bold text-center">Delete Account</h1>
      <p class="text-lg text-center mt-5">
        Are you sure you want to delete your account? You will lose all your
        data.
      </p>
      <a
        href="/settings"
        class="mt-10 mx-3 bg-orange-500 hover:bg-orange-600 text-orange-50 px-5 py-3 rounded-full font-semibold transition-colors duration-300 cursor-pointer w-full max-w-xs text-center dark:bg-gray-800 dark:text-gray-50 dark:hover:bg-gray-700"
      >
        Cancel
      </a>
      <button
        class="mt-10 mx-3 bg-red-500 hover:bg-red-600 text-red-50 px-5 py-3 rounded-full font-semibold transition-colors duration-300 cursor-pointer w-full max-w-xs text-center dark:bg-gray-800 dark:text-red-500 dark:hover:bg-gray-700"
      >
        Delete Account
      </button>
    </section>
    <script src="script.js"></script>
  </body>
</html>
