:root {
  --primary-color: #f1c40f;
  --primary-color-focus: #f39c12;
  --background-color: #f0f0f0;
  --secondary-color: #fff;
  --dark-color: #000;
  --light-color: #fff;
  --light-gray: #f1f1f1;
  --dark-gray: #333;
  --gray: #999;
  --white: #fff;
  --light-gray-focus: #e1e1e1;
  --max-width: 1170px;
  --fixed-width: 700px;
}

::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  font-size: inherit;
  color: var(--dark-gray);
  line-height: 1.6;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav.nav {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

nav.nav a.nav__logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
}

nav.nav .nav__search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  nav.nav .nav__search {
    display: none;
  }
}

nav.nav .nav__search input.nav__search-input {
  border: 1px solid var(--light-gray);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.6rem;
  width: 20rem;
  transition: all 0.3s ease;
}

nav.nav .nav__search input.nav__search-input:focus {
  border-color: var(--primary-color);
  width: 30rem;
}

nav.nav .nav__search svg.nav__search-icon {
  display: flex;
  font-size: 2rem;
  color: var(--gray);
  transition: all 0.3s ease;
}

nav.nav .nav__search svg.nav__search-icon:hover {
  color: var(--primary-color);
}

nav.nav a.nav__logo:hover,
nav.nav a.nav__logo:focus {
  color: var(--primary-color-focus);
}

nav.nav a.nav__logo svg.nav__profile-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

nav.nav a.nav__logo img.nav__profile-photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

nav.nav .nav__links {
  display: flex;
  align-items: center;
}

nav.nav .nav__links a.nav__link {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dark-gray);
}

nav.nav .nav__links a.nav__link:hover,
nav.nav .nav__links a.nav__link:active {
  color: var(--primary-color);
}

.content {
  min-height: calc(100vh - 6rem);
  max-width: var(--max-width);
  margin: 0 auto 1rem auto;
  padding: 0 2rem;
}

.content .content__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.content .content__container .content__header {
  grid-column: 1 / -1;
}

.content .content__container .content__header .content__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.content .content__container .content__header .content__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray);
}

form.content__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content__form .content__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content__form .content__form-group .content__form-label {
  font-size: 1.4rem;
  font-weight: 500;
}

.content__form .content__form-group .content__form-input {
  border: 1px solid var(--light-gray);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.content__form .content__form-group .content__form-input:focus {
  border-color: var(--primary-color);
}

button.content__form-group__add-post {
  border: 1px solid var(--light-gray);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.6rem;
  transition: all 0.3s ease;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
}

button.content__form-group__add-post:hover,
button.content__form-group__add-post:focus {
  background-color: var(--primary-color-focus);
}

footer.footer {
  background-color: var(--primary-color);
  padding: 2rem;
  color: var(--white);
  text-align: center;
}

footer.footer p::selection {
  background-color: var(--white);
  color: var(--primary-color);
}

.footer__content {
  max-width: var(--max-width);
  margin: 0 auto;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

a.footer__social-link {
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

a.footer__social-link:hover,
a.footer__social-link:focus {
  color: var(--primary-color-focus);
  transform: scale(1.2);
}

.footer__text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
